[Desktop Entry]
Name=Script (interactive)...
Comment=Enter script (interactive) filename:
Type=Link
URL=source/script_i.sh
Icon=application-x-shellscript
