[Desktop Entry]
Comment[en_US]=
Comment=
Exec=$Dir_Mega/sh/work/work.sh
GenericName[en_US]=
GenericName=
Icon=google-chrome-unstable
MimeType=
Name[en_US]=Work
Name=Work
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
